.display-flex-direction {
  display: flex;
}

.desktop-view-vitals-wrp {
  /* height: 9rem; */
  /* flex-wrap: wrap; */
}

.desktop-view-labels-with-current-stats {
  flex-direction: column;
  justify-content: space-between;
  width: 11rem;
}

.desktop-view-individual-vitals-wrap {
  height: 7rem;
  background: #f2f5f8;
  padding: 0.5rem;
  margin: 1rem 0.2rem 0.3125rem;
}

.desktop-view-vital-current-value {
  font-size: 1.375rem;
}

.degree {
  margin-top: 4px;
}
