@mixin transparent_button {
  border: none !important;
  background: none !important;
  &:active,
  &:focus {
    box-shadow: none !important;
  }
  &:hover,
  &:not(:disabled):not(.disabled):active,
  &:not(:disabled):not(.disabled).active {
    color: #22335e;
  }
}

.btn-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 0.25rem;
  padding: 0 1rem;
  height: 3rem;
  margin: 0.25rem;
  font-size: 0.75rem;
  border-radius: 10px;

  svg {
    width: 1.125rem;
    height: 1.125rem;
    margin-right: 0.75rem;
  }

  &:hover {
    text-decoration: none;
    color: darken($color: $primary, $amount: 10);
    background-color: darken($color: $light, $amount: 10);
  }
}

.referral-buttons {
  min-width: 105px;
}

.green {
  color: #00bebe;
}

.btn-secondary {
  color: white;
}
.btn {
  &.btn-covin,
  &.btn-cancel {
    padding: 0 1.25rem;
    height: 2.35rem;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    justify-content: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 13px;
    line-height: 20px;
    white-space: nowrap;
  }
  &.btn-covin {
    border: 1px solid #54b8b2;
    border-radius: 3px;
    box-shadow: 0 3px 0 #008484;
    background-color: #54b8b2;
    color: #fff;
    &.dark {
      border-color: #657396;
      box-shadow: 0 3px 0 #657396;
      background-color: #22335e;
    }
  }
  &.add-patient,
  &.cancel-add-patient {
    height: 45px;
  }
  &.add-patient {
    width: 193px;
  }
  &.cancel-add-patient {
    padding: 0 1.7rem;
  }
  &.btn-cancel {
    border: none;
    box-shadow: none;
    background: none;
    color: #22335e;
  }
  &.btn-download {
    padding: 0 1.25rem;
    height: 2.35rem;
    width: 184px;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    justify-content: center;
    letter-spacing: 0.1em;
    font-weight: bold;
    font-size: 13px;
    line-height: 20px;
    white-space: nowrap;
    border: 1px solid #9fa7ba;
    border-radius: 3px;
    box-shadow: 0 3px 0 #9fa7ba;
    background-color: #22335e;
    background-color: #ffffff;
    color: #657396;
    position: relative;
  }
  &.btn-download-small {
    padding: 0 1.25rem;
    height: 2.2rem;
    width: 160px;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    justify-content: center;
    letter-spacing: 0.1em;
    font-weight: bold;
    font-size: 11px;
    line-height: 20px;
    white-space: nowrap;
    border: 1px solid #9fa7ba !important;
    border-radius: 3px;
    box-shadow: 0 3px 0 #9fa7ba;
    background-color: #22335e;
    background-color: #ffffff;
    color: #657396;
    position: relative;
  }
  &.btn-download-mobile {
    padding: 0 1.25rem;
    height: 2.35rem;
    width: 80px;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    justify-content: center;
    letter-spacing: 0.1em;
    font-weight: bold;
    margin-right: 5px;
    font-size: 11px;
    line-height: 20px;
    white-space: nowrap;
    border: 1px solid #9fa7ba !important;
    border-radius: 3px;
    box-shadow: 0 3px 0 #9fa7ba;
    background-color: #22335e;
    background-color: #ffffff;
    color: #657396;
    position: relative;
  }
  &.button-patient-call {
    background: transparent;
    border: none !important;
    border-radius: 40px;
    color: #657396;
    font-family: Helvetica;
    font-size: 0.9rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    padding-left: 0.3rem;
    letter-spacing: 0em;
    text-align: left;
    outline: none !important;
  }
}

button {
  &.transparent-button {
    @include transparent_button;
  }
  &.link-button {
    @include transparent_button;
    font-size: 1.1rem;
    color: #0264c0;
    text-decoration: underline;
  }
}

.btn-download,
.btn-download-small {
  &:active {
    background-color: #ffffff !important;
    color: #657396 !important;
    box-shadow: 0 0 0 0.2rem #9fa7ba !important;
    border-color: #9fa7ba !important;
  }
}

.button-patient-call {
  &.active,
  &:hover {
    background-color: #33c759 !important;
    color: #ffffff !important;
    box-shadow: none !important;
    border-color: none !important;
  }
  &:focus {
    box-shadow: none !important;
    border-color: none !important;
  }
}

.button-patient-call span {
  background-image: url('../assets/images/svg-icons/icon-phone.svg');
  width: 15px;
  height: 15px;
  margin-right: 3.5px;
}

.button-patient-call:hover span {
  background-image: url('../assets/images/icon-phone-white.svg');
  width: 15px;
  height: 15px;
  margin-right: 3.5px;
}

@media only screen and (max-width: 1024px) {
  .btn-small {
    margin: 0.3rem 0.5rem;
    padding: 0.3rem 0.65rem;
    font-size: 0.65rem;
    border-radius: 0.2rem;
  }
}
