.back-button {
  width: 25rem;
}

.patient-name {
  font-size: 2rem;
  margin-bottom:1rem;
}

.patient-confirm-info{
  font-size: 1.2rem;
  font-weight: lighter;
  margin-bottom: 0.5rem;
  background: none;
  border: none;
}

.add-info {
  font-weight: 600;
  margin: 1.5rem 0;
}
