.display-flex-direction {
  display: flex;
}

.desktop-view-labels-with-current-stats {
  flex-direction: column;
  justify-content: space-between;
  width: 11rem;
}

.desktop-view-individual-vitals-wrap {
  height: 7rem;
  background: #f2f5f8;
  padding: 0.5rem;
  margin: 1rem 0.2rem 0.3125rem;
}

.desktop-view-vital-current-value {
  font-size: 0.8125rem;
  font-weight: bold;
}

.degree {
  margin-top: 1px;
  font-size: 0.8125rem;
  font-weight: bold;
}

.patient-detail-bold {
  font-weight: 700 !important;
  font-size: 12px;
}

.patient-detail-text {
  font-size: 12px;
}

@media screen and (max-width: 1150px) and (min-width: 768px) {
  .desktop-view-vitals-wrp {
    flex-wrap: wrap;
  }
}
