main {
  height: calc(100vh - 4.3rem);
  background: $light;

  .table-responsive {
    height: 60vh;
    overflow-x: scroll;
  }

  table th {
    position: sticky;
    top: 0;
  }
}
.main-container-wrapper {
  background: #f2f7fd;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 4.375rem;
}

.first-row {
  padding: 0em 4em;
  width: 100%;
  @media (max-width: 768px) {
    padding: 0em;
  }
}

.headings {
  padding: 0rem 0rem 1rem 0rem;
  @media (max-width: 768px) {
    padding: 3px 0px;
    max-width: auto;
  }
}

.info-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.25rem 0;
  @media (max-width: 768px) {
    padding: 1.25rem;
  }
}

.view-name {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.875rem;
  color: #1f3259;
  @media (max-width: 768px) {
    font-size: 1.25rem;
    line-height: 1.875rem;
  }
}

.date-and-time-wrap {
  display: flex;
}

.time-image {
  margin-right: 9px;
}

.date-and-time {
  color: #657396;
  font-family: Helvetica;
  @media (max-width: 768px) {
    font-size: 0.8125rem;
    line-height: 1.125rem;
  }
}

.patients-wrapper {
  display: none;
  @media (max-width: 768px) {
    display: flex;
    flex-direction: column;
  }
}

.headsearch-btn-div {
  display: flex;
  justify-content: space-evenly;
}

.excel-image-wrap{
  margin-right: 0.9rem;
}

.download-excel-icon {
  color: #23a566;
  width: 0.945rem;
  height: 1.1rem;
  position: absolute;
  top: 0.562rem;
  left: 0.75rem;
  margin-right: 0.625rem;
}
.x-icon {
  color: #FFFFFF;
  width: 0.437rem;
  height: 0.437rem;
  position: absolute;
  top: 0.937rem;
  left: 0.937rem;
}

.excel-image-wrap-small{
  margin-right: 0.9rem;
}

.download-excel-icon-small {
  color: #23a566;
  width: 0.9rem;
  height: 1rem;
  position: absolute;
  top: 0.55rem;
  left: 0.75rem;
  margin-right: 0.625rem;
}
.x-icon-small {
  color: #FFFFFF;
  width: 0.350rem;
  height: 0.360rem;
  position: absolute;
  top: 0.9rem;
  left: 0.957rem;
}

.excel-image-wrap-mobile{
  margin-right: 0.9rem;
}

.download-excel-icon-mobile {
  color: #23a566;
  width: 1.18rem;
  height: 1.5rem;
  position: absolute;
  margin-right: 0.625rem;
}
.x-icon-mobile {
  color: #FFFFFF;
  width: 0.5rem;
  height: 0.5rem;
  position: absolute;
  top: 0.5rem;
  left: 0.3rem;
}

.mobile-download-button{
  outline: none;
}

mobile-download-button {
  &:active,
  &:focus {
    outline: none !important;
  }
}