form {
  label {
    font-size: 13px;
    color: #657396;
  }
  .form-control {
    height: 45px;
  }
  .invalid-feedback {
    position: absolute;
    font-size: 75%;
    line-height: 1.2;
  }
}
.form-control {
  border: 1px solid #e0e3ea;
  box-shadow: 0 2px 0 #e0e3ea;
  border-radius: 3px;
  color: #22335e;
  &::placeholder {
    color: #22335e;
    opacity: 0.4;
  }
  &.measurement {
    position: relative;
    & + span:after {
      position: absolute;
      right: 0.7rem;
      top: 0.6rem;
      color: rgba(#22335e, 0.5);
      pointer-events: none;
    }
    &.kg + span:after {
      content: 'kg';
    }
    &.ft + span:after {
      content: 'ft';
    }
    &.in + span:after {
      content: 'in';
    }
  }
}

.form-group {
  margin-bottom: 2rem;
}

.field_with_errors input + span:after {
  content: '*';
}

.gender-wrapper {
  padding-right: 0;
  background-color: red;
}

#other,
#female {
  margin-left: 1rem;  
}

.gender-label {
  margin-right: 0 !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

@media (max-width: 1582px) {
  #other,
  #female {
    margin-left: 0;  
  }
  .gender-label {
    margin-right: 1.2rem !important;
  }
  }

  @media (min-width: 1700px) {
    #other,
    #female {
      margin-left: 2.2rem;  
    }
    .gender-label {
      margin-right: 0 !important;
    }
    }  
