form {
  label {
    font-size: 13px;
  }
}
.form-control {
  border: 1px solid #E0E3EA;
  box-shadow: 0 2px 0 #E0E3EA;
  border-radius: 3px;
  color: #22335E;
  &::placeholder {
    color: #22335E;
    opacity: .4;
  }
}

.form-group {
  margin-bottom: 2rem;
}

.field_with_errors input+span:after {
  content: "*"
}
input.form-control.measurement {
  position: relative;
  &+span:after {
    position: absolute;
    right: 10px;
    bottom: 10px;
    color: grey;
  }
  &.kg+span:after {
    content: 'Kg';
  }
  &.ft+span:after {
    content: 'Ft/In';
  }
}
