.sticky-top {
  z-index: 1021;
}

header {
  padding: 0 4em;
  height: 4.3rem;

  .logo {
    width: 17rem;
    // @toDo remove temp (added until svg left padding is fixed)
    margin-left: -6px;
  }

  &.top-menu {
    background-color: #60a3d2;
  }

  .menu-icon {
    width: 1.75rem;
    height: 1.75rem;
  }

  .btn:focus {
    box-shadow: none;
  }

  input {
    max-width: 10rem;
    margin-right: 0.25rem;
  }

  .top-menu-list {
    flex-wrap: nowrap !important;
    margin-left: -5rem;
  }
  
  .nav-link {
    box-sizing: border-box;
    position: relative;
    padding: 0;
    display: flex;
    align-items: center;
    text-align: center;
    font-weight: 900;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 1.875rem;
    letter-spacing: .3px;
    color: #fff;
    &:not(:last-child) {
      margin-right: 1.6rem;
    }
    &.active {
      color: #22335e;
      border-bottom: 3px solid #22335e;
    }
  }
  .dropdown-menu {
    .nav-link {
      padding: 0 4px;
      &.active {
        color: white;
        background-color: rgba(#22335e, .9);
        border-bottom: none;
      }
    }
  }
  @media (max-width: 768px) {
    padding: 0 1em 0 0;
    .logo {
      width: 14rem;
    }
    .nav-link {
      font-weight: bold;
      color: #000;
    }
  }
}