.blur-content {
  filter: blur(0.3rem);
  height: 100vh;
}

.pointer-events-none {
  pointer-events: none;
}

.z-1060 {
  z-index: 1060 !important;
}

.classic-dropdown {
  background: none;
  & +span {
    pointer-events: none;
    position: relative;
    top: 17px;
    right: 25px;
    vertical-align: 0.255em;
    border-top: 0.3em solid;
    border-right: 0.3em solid transparent;
    border-bottom: 0;
    border-left: 0.3em solid transparent;
  }
  option {
    font-size: 12px;
  }
}