.search-icon,
.search-spinner {
  position: absolute;
  left: .625rem;
  color: #657396;
  margin: 0;
}
.search-icon {
  top: .625rem;
  height: 1.3rem;
}
.search-spinner {
  top: 1rem;
}
.search-input {
  padding-left: 2.2rem;
  font-size: 0.8rem;
}

.search-container {
  position: relative;
  width: 100%;

  input {
    width: 100%;
  }

  .search-results {
    position: absolute;
    top: 100%;
    z-index: 9;
    background-color: white;
    height: 500%;
    max-height: 100vh;
    overflow: scroll;
  }
  &.right {
    .search-icon {
      left: auto;
      right: .625rem;
    }
    .lds-spinner {
      left: auto;
      right: 3px;
    }
    .search-input.form-control {
      padding-right: 2.3rem;
      padding-left: .625rem;
      text-align: right;
    }
    .x-button {
      right: auto;
      left: .625rem;
    }
  }
}

.search-input.form-control {
  height: 2.5rem;
  padding-left: 37px;
  outline: none;
  border: 1px solid #d6dde8;
  box-shadow: none;
  border-radius: 3px;
  font-size: 1rem;
  line-height: 1.25rem;
  color: #1f3259;
  @media (max-width: 768px) {
    border: none;
    text-align: center;
    ::placeholder {
      opacity: 0.2;
    }
  }
}
