:root {
  --spinner-dark-color: #000;
  --spinner-light-color: #ccc;
  --dot-dark-color: #657396;
  --dot-light-color: #d5dae1;
}

.spin {
  animation-name: spin;
  animation-duration: 3000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}

.lds-spinner {
    position: relative;
    margin: auto;
    width: 2.5rem;
    height: 2.5rem;
  }
  .lds-spinner span:after {
    content: " ";
    display: block;
    position: absolute;
    top: 10%;
    left: 50%;
    width: 2px;
    height: 0.5rem;
    border-radius: 30%;
    transform-origin: 1px 1rem;
    animation: lds-spinner 1.2s linear infinite;
  }
  .lds-spinner span:nth-child(1):after {
    transform: rotate(0deg);
    animation-delay: -1.1s;
  }
  .lds-spinner span:nth-child(2):after {
    transform: rotate(30deg);
    animation-delay: -1s;
  }
  .lds-spinner span:nth-child(3):after {
    transform: rotate(60deg);
    animation-delay: -0.9s;
  }
  .lds-spinner span:nth-child(4):after {
    transform: rotate(90deg);
    animation-delay: -0.8s;
  }
  .lds-spinner span:nth-child(5):after {
    transform: rotate(120deg);
    animation-delay: -0.7s;
  }
  .lds-spinner span:nth-child(6):after {
    transform: rotate(150deg);
    animation-delay: -0.6s;
  }
  .lds-spinner span:nth-child(7):after {
    transform: rotate(180deg);
    animation-delay: -0.5s;
  }
  .lds-spinner span:nth-child(8):after {
    transform: rotate(210deg);
    animation-delay: -0.4s;
  }
  .lds-spinner span:nth-child(9):after {
    transform: rotate(240deg);
    animation-delay: -0.3s;
  }
  .lds-spinner span:nth-child(10):after {
    transform: rotate(270deg);
    animation-delay: -0.2s;
  }
  .lds-spinner span:nth-child(11):after {
    transform: rotate(300deg);
    animation-delay: -0.1s;
  }
  .lds-spinner span:nth-child(12):after {
    transform: rotate(330deg);
    animation-delay: 0s;
  }
  @keyframes lds-spinner {
    0% {
      background: var(--spinner-dark-color);
    }
    20% {
      background: var(--spinner-dark-color);
    }
    21% {
      background: var(--spinner-light-color);
    }
    100% {
      background: var(--spinner-light-color);
    }
  }

/**
 * ==============================================
 * Dot Flashing Spinner
 * ==============================================
 */
.dot-flashing-wrapper {
  position: absolute;
  left: 50%;
  transform: translate3d(0, -50%, 0);
  bottom: .5rem;
  height: 10px;
}

.dot-flashing {
  position: relative;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: var(--dot-dark-color);
  color: var(--dot-dark-color);
  animation: dotFlashing 1s infinite linear alternate;
  animation-delay: .5s;
}

.dot-flashing::before, .dot-flashing::after {
  content: '';
  display: inline-block;
  position: absolute;
  top: 0;
}

.dot-flashing::before {
  left: -15px;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: var(--dot-dark-color);
  color: var(--dot-dark-color);
  animation: dotFlashing 1s infinite alternate;
  animation-delay: 0s;
}

.dot-flashing::after {
  left: 15px;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: var(--dot-dark-color);
  color: var(--dot-dark-color);
  animation: dotFlashing 1s infinite alternate;
  animation-delay: 1s;
}

@keyframes dotFlashing {
  0% {
    background-color: var(--dot-dark-color);
  }
  50%,
  100% {
    background-color:  var(--dot-light-color);
  }
}
