table td {
  font-family: Helvetica;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.3;
  text-align: left;
  box-shadow: 0 1px 0 rgba(101, 115, 150, 0.2);
}

table th {
  font-family: Helvetica;
  text-align: left;
  font-size: 12px;
  font-style: normal;
  font-weight: bold;
  line-height: 1.5;
  color: #657396;
  background-color: #e9eff6;
  text-transform: uppercase;
  box-shadow: 0 2px 0 rgba(101, 115, 150, 0.2);
}

.table-hover tbody tr:hover {
  background-color: #f6f8fa;
}

.table-content-gender,
.table-content-date {
  padding-left: 2.2rem !important;
}

.table-content-age {
  padding-left: 1.1rem !important;
}

.table-content-download {
  padding-left: 2.7rem !important;
}

.table-content-address {
  &, & > div {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    @media only screen and (min-width: 768px) {
      width: 6rem;
    }
    @media only screen and (min-width: 950px) {
      width: 8rem;
    }
    @media only screen and (min-width: 1025px) {
      width: 15rem;
    }
    @media only screen and (min-width: 1500px) {
      width: 20rem;
    }
  }
}

.table-content-phone {
  padding-left: 0 !important;  
}

.table-content-status {
  padding-right: 3rem !important;
}

.table-patient-name {
  font-weight: 700 !important;
  color: #01518d;
}

.patient-table-row {
  background-color: #ffffff;
  color: #657396;
  font-size: 14px;
  line-height: 18px;
}

@media only screen and (max-width: 1024px) {
  .table-container {
    font-size: 0.875rem;
  }

  .table-header {
    text-align: center;
  }
}
