table td {
  font-family: Helvetica;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.3;
  text-align: left;
  box-shadow: 0 1px 0 rgba(101, 115, 150, 0.2);
}

table th {
  font-family: Helvetica;
  text-align: left;
  font-size: 12px;
  font-style: normal;
  font-weight: bold;
  line-height: 1.5;
  color: #657396;
  background-color: #e9eff6;
  text-transform: uppercase;
  box-shadow: 0 2px 0 rgba(101, 115, 150, 0.2);
}

.table-hover tbody tr:hover {
  background-color: #f6f8fa;
}

.table-content-gender,
.table-content-date {
  padding-left: 2.2rem !important;
}

.table-content-age {
  padding-left: 1.1rem !important;
}

.table-content-download {
  padding-left: 2.7rem !important;
}

.table-content-phone {
  padding-left: 0rem !important;
}

.table-content-status {
  padding-right: 2.7rem !important;
}

.patient-table-row{
  background-color: #FFFFFF;
}

@media only screen and (max-width: 1024px) {
  .table-container {
    font-size: 0.875rem;
  }

  .table-header {
    text-align: center;
  }
}
