.t-0 {
  top: 0 !important;
}
.r-0 {
  right: 0 !important;
}
.b-0 {
  bottom: 0 !important;
}
.l-0 {
  left: 0 !important;
}

.cursor-pointer {
  cursor: pointer;
}

.flex-even {
  flex: 1 1 0;
}

.required::after {
  content: '*';
  color: red;
}
