.patient-info {
  padding: 1.25rem;
  background: #ffffff;
  box-shadow: 0px 0.25rem 0.625rem rgba(101, 115, 150, 0.1);
  margin-bottom: 0.8rem;
}

.body-vitals-status-wrap {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 1rem;
}

.content-wrp {
  display: grid;
  grid-template-columns: auto auto;
  height: 5rem;
}

.body-vitals-status-wrap > div {
  background-color: #f2f5f8;
}

.graph-wrp-for-vitals {
  margin: auto 0;
  height: 2rem;
  padding: 0 1rem;
}

.vital-current-value {
  font-size: 1.375rem;
}

.vital-current-unit {
  font-size: 1.18rem;
  margin-top: 4px;
  text-transform: none;
}

.labels-with-current-stats {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-left: 0.625rem;
  text-transform: capitalize;
}

.vital-current-info-stat {
  display: flex;
  align-items: baseline;
}

.display-flex {
  display: flex;
  margin-right: 0.625rem;
}

.image-spacing {
  margin-right: 0.3125rem;
  align-items: center;
}

.image-spacing img {
  width: 1.25rem;
  height: 1.25rem;
}
